.btn-orange {
    background: #ff6741;
    border: #ff3300;
    transition: 1000ms;
    color: white;
}
.btn-orange:focus {
    background: #ff3300;
    border: #ff3300;
    cursor: pointer;
    color: white;
}
.btn-orange:hover {
    background: #ff3300;
    border: #ff3300;
    cursor: pointer;
    color: white;
}