$whiteColor: #fff;
$greenStroke: #14ab72;
$redStroke: #e53935;

.btn-mild-green {
    color: $greenStroke;
    background: $whiteColor;
    border: 1px solid $greenStroke;
}

.btn-mild-green:hover {
    color: $whiteColor;
    background: $greenStroke;
    border: 1px solid $greenStroke;
}
.btn-mild-green:focus {
    color: $whiteColor;
    background: $greenStroke;
    border: 1px solid $greenStroke;
}
.btn-mild-red {
    color: $redStroke;
    background: $whiteColor;
    border: 1px solid $redStroke;
}

.btn-mild-red:hover {
    color: #fff;
    background: $redStroke;
    border: 1px solid $redStroke;
}
.btn-mild-red:focus {
    color: #fff;
    background: $redStroke;
    border: 1px solid $redStroke;
}